body {
    height: 97%;
    display: flex !important;
    align-items: center !important;
    font-family: Arial, "Times New Roman", sans-serif;
    font-size: 15px;
    background-color: #f5f5f5 !important;
}